/* select Playfair Display accessable */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap');

/* default settings for page  */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


/* some specific setting */

body {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: rgb(98, 98, 98);
    background-color: #fff;
}

.container {
    width: 900px;
    margin: 0 auto;
}