/* select Playfair Display accessable */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap');

/* default settings for page  */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* some specific setting */

body {
    font-family: 'Playfair Display', serif;
    color: #666666;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-style: 30px;
    margin-bottom: 40px;
}


/* style for main menu */

.navigation-bar {
    text-align: center;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #666666;
}

.menu li {
    display: inline-block;
    margin-right: 120px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a:hover,
a:focus {
    color: #0099ff;
}


/* main section */

.sectionMain {
    width: 900px;
    margin: 0 auto;
}

img+p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.infoSection {
    width: 420px;
    display: inline-block;
    margin-top: 100px;
    margin-left: 56px;
    padding: 0;
}

.infoSection:nth-child(2n) {
    margin-right: 0;
}

.infoSection:nth-child(2n+1) {
    margin-left: 0;
}

.infoSection:last-child(-n+2) {
    margin-bottom: 0;
}

img {
    width: 420px;
    height: 280px;
    display: block;
    max-width: 100%;
}


/* button style  */

.footer_section {
    margin: 60px auto;
}

.moreButton {
    display: block;
    width: 164px;
    height: 60px;
    border: 2px solid #666666;
    background-color: #fff;
    font-size: 20px;
    /* padding: 23px 34px; */
    cursor: pointer;
    margin: 0 auto;
}

.moreButton:hover,
.moreButton:focus {
    background-color: #666666;
    color: black;
}