/* select Playfair Display accessable */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap');

/* default settings for page  */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* some specific setting */

body {
    font-family: 'Playfair Display', serif;
    color: #666666;
    background-color: #fff;
}

.container {
    width: 900px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

h2+p {
    line-height: 24px;
}


/* style for main menu */

.menu {
    /* text-align: center; */
    padding-left: 165px;
    margin-bottom: 100px;
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    color: #666666;
}

.menu li {
    display: inline-block;
}

.menu li:nth-child(1) {
    margin-right: 120px;
}

.menu li:nth-child(2) {
    margin-right: 100px;
}

.menu li:nth-child(3) {
    margin-right: 90px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a:hover,
a:focus {
    color: #0099ff;
}


/* main section */

.name-info-section {
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #cc9999;
    text-transform: uppercase;
}

.info-section {
    width: 420px;
    display: inline-block;
    margin-right: 56px;
    vertical-align: top;
}

.info-section:nth-child(2n) {
    margin-right: 0px;
}

.info-section:nth-child(2n+1) {
    margin-left: 0;
}

.info-section:last-child(-n+2) {
    margin-bottom: 0;
}

.info-section:nth-child(-n+4) {
    margin-bottom: 140px;
}

.info-section:nth-child(-n+2) {
    margin-bottom: 135px;
}

.info-section:nth-child(n+5) {
    margin-bottom: 57px;
}

img {
    display: block;
    margin-bottom: 30px;
}


/* button style  */

.footer_-section {
    margin: 60px auto;
}

.more-button {
    display: block;
    width: 164px;
    height: 60px;
    border: 2px solid #666666;
    background-color: #fff;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    margin: 0 auto 70px;
}

.more-button:hover,
.more-button:focus {
    background-color: #666666;
    color: black;
}